.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

:root {
    --highlight-color: #ba3925;
}

* {
    text-align: justify;
}

pre {
    padding: 1rem;
}

ul {
    list-style: circle; 
}

ol, ul {
    margin-left: 1.5rem;
}

td h4 {
    margin-bottom: 0.5rem;
}

table {
    min-width: 100%;
}

::selection {
    background: var(--highlight-color);
    color: white;
}

.wrapper .container {
    max-width: 80rem;
}

.wrapper > .container {
    padding-top: 7.5rem;
}

.header {
    padding-top: 1rem;
}

@media (min-width: 40rem) {
    .header {
        padding-top: 5rem;
    }
}

.header + section {
    border-top: 0;
}

.header .container {
    border-top: 0;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    position: relative;
    text-align: center;
}

.header .img {
    height: 15rem;
    margin-bottom: 2rem;
}

.header .img path,
    .navigation-title .img path {
        fill: var(--highlight-color);
        stroke: none;
    }

    .header .button {
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

    @media (min-width: 40rem) {
        .header .button {
            margin-bottom: 4rem;
            margin-top: 2rem;
        }
    }

    .footer {
        padding: 8rem 0 2rem;
    }

    .footer .copyright {
        padding-right: 6rem;
    }

    .footer .nav {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .footer .nav .link {
        display: inline-block;
        margin-left: 1.2rem;
        padding: 0;
    }

    .footer .nav .icon {
        fill: var(--highlight-color);
        height: 2rem;
    }

    .footer .nav .icon:hover {
        fill: var(--foreground-color);
    }

    .navigation {
        background: var(--header-color);
        border-bottom: 0.1rem solid var(--border-color);
        display: block;
        height: 5.2rem;
        left: 0;
        max-width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        overflow-y: hidden;
    }

    .navigation .container {
        padding-bottom: 0;
        padding-top: 0;
    }

    .navigation .navigation-list {
        list-style: none;
        margin-bottom: 0;
        margin-right: 5rem;
    }

    @media (min-width: 80rem) {
        .navigation .navigation-list {
            margin-right: 0;
        }
    }

    .navigation .navigation-item {
        float: left;
        margin-bottom: 0;
        margin-left: 2.5rem;
        position: relative;
    }

    .navigation .img {
        fill: var(--highlight-color);
        height: 2rem;
        position: relative;
        top: 0.3rem;
    }

    .navigation .navigation-title,
.navigation .title {
    color: var(--foreground-color);
}

.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.navigation .navigation-link.active {
    color: var(--foreground-color);
}

.popover {
    background: white;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.4rem;
    display: none;
    filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 1));
    left: 50%;
    min-width: 13.4rem;
    position: absolute;
    top: 94%;
    transform: translateX(-50%);
}

.popover.popover-open {
    display: block;
}

.popover:after,
.popover:before {
    border: solid transparent;
    border-color: transparent;
    border-width: 1rem;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    right: 1.7rem;
    top: 0;
    width: 0;
}

.popover:after {
    border-bottom-color: white;
    transform: translate(-50%, -100%);
}

.popover:before {
    border-bottom-color: var(--border-color);
    transform: translate(-50%, -102%);
}

.popover .popover-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover .popover-item {
    margin: 0;
    padding: 0;
}

.popover .popover-item:first-child .popover-link {
    border-radius: 0.4rem 0.4rem 0 0;
}

.popover .popover-item:last-child .popover-link {
    border-bottom-width: 0;
    border-radius: 0 0 0.4rem 0.4rem;
}

.popover .popover-link {
    border-bottom: 0.1rem solid var(--border-color);
    color: var(--foreground-color);
    display: block;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.popover .popover-link:hover {
    background: var(--highlight-color);
    border-bottom-color: var(--highlight-color);
    color: white;
}

.share,
.share-list,
.share-list a {
    position: relative;
    text-decoration: none;
}

.share-item {
    display: inline-block;
    margin: 1rem 0;
}

.share-item:nth-child(n + 1) {
    margin-left: 0.5rem;
}

.share-dialog {
    background-color: var(--highlight-color);
    border-radius: 0.4rem;
    color: white;
    display: block;
    height: 2.2rem;
    text-align: center;
    width: 5rem;
}

.share-dialog:hover {
    background-color: var(--foreground-color);
}

.subscribe-column {
    max-width: 41% !important;
}

.subscribe-input {
    border-bottom-right-radius: 0 !important;
    border-right: 0;
    border-top-right-radius: 0 !important;
    margin: 0;
}

.subscribe-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
}

.example {
    margin-top: 4rem;
    position: relative;
}

.example .example-header {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.example h1,
.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
    margin-bottom: 1rem;
}

.example form {
    margin-bottom: 0;
}

.example .heading-font-size {
    color: #999;
    font-size: 1.2rem;
    letter-spacing: normal;
}

.example .button-black {
    background-color: black;
    border-color: black;
}

.example .button-black.button-clear,
.example .button-black.button-outline {
    background-color: transparent;
    color: black;
}

.example .button-black.button-clear {
    border-color: transparent;
}

.example .button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}

.example .button-small {
    font-size: 0.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.example .column-demo {
    background: var(--border-color);
    border-radius: 0.4rem;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.example .container {
    padding-left: 0;
    padding-right: 0;
}

.example.row,
.example .row {
    margin-bottom: 0;
}

.navigation-link,
#toctitle,
footer,
dl dt,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: "Quicksand", sans-serif;
}

footer a svg {
    height: 1em;
    fill: currentColor;
}

td.icon {
    user-select: none;
}

.container .title {
    margin-bottom: 2rem;
}

.title h1 {
    margin: 0;
}

.container img {
    margin-bottom: 2rem;
}

.admonitionblock td.icon {
    text-align: center;
}

.admonitionblock td.icon img {
    display: block;
    width: 80px;
    margin: 0;
}

.article-info {
    display: flex;
}

.label {
    background: var(--highlight-color);
    color: white;
    font-size: 12px;
    border-radius: 2em;
    padding: 0 7px;
    line-height: 21px;
    margin-left: 7px;
    font-style: italic;
}

.label::selection {
    background: white;
    color: var(--highlight-color);
}

a.anchor {
    position: absolute;
    width: 1.5ex;
    margin-left: -1.5ex;
    display: block;
    text-decoration: none !important;
    visibility: hidden;
    text-align: center;
    font-weight: normal;
}

h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor {
    visibility: visible;
}

a.anchor::before {
    content: "\00A7";
}
