footer {
    padding-bottom: 1.25rem;
}

footer i:before {
    font-size: 150%;
}

ul.title-area > li.name > h1 {
    height: 100%;
}

ul.title-area > li.name > h1 > a {
    height: 100%;
}

ul.title-area > li.name > h1 > a > img {
    height: 70%;
}

