%section{:"aria-level" => %(#{level}), :id => @id}
  - slevel = @level == 0 && @special ? 1 : @level
  - haml_tag "h#{slevel + 1}#", %(<a class="anchor" href="##{@id}" aria-hidden="true"></a>#{captioned_title})
  =content
