<section id="contato" class="container" role="content">
    <h2 id="contato">
        <a class="anchor" href="#contato" aria-hidden="true"></a>
        Contato
    </h2>
    <table>
        <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;">
        </colgroup>
        <tbody>
            <tr>
                <td class="hdlist1">E-mail</td>
                <td>
                    <a href="mailto:{{ site.email }}">
                        {{ site.email }}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="hdlist1">Twitter</td>
                <td>
                    <a 
                        href="https://twitter.com/{{ site.twitter }}" 
                        target="_blank">
                        @{{ site.twitter }}
                    </a>

                </td>
            </tr>
            <tr>
                <td class="hdlist1">Facebook</dt>
                <td>
                    <a 
                        href="https://www.fb.com/{{ site.facebook }}" 
                        target="_blank">
                        {{ site.facebook }}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="hdlist1">Canal no Telegram</td>
                <td>
                    <a 
                        href="https://t.me/{{ site.telegram }}"  
                        target="_blank">
                        @{{ site.telegram }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
