<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <a href="mailto:camat.usp@gmail.com">camat.usp@gmail.com</a>
                
                <div class="right">
                    <a href="https://github.com/{{site.repository}}"><i class="fa fa-github-square"></i></a>
                    <a href="http://www.fb.com/{{site.twitter}}"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://twitter.com/{{site.twitter}}"><i class="fa fa-twitter-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

