<footer class="footer">
    <section class="container">
        <p class="copyright">
            <a href="mailto:camat.usp@gmail.com">camat.usp@gmail.com</a>
        </p>
        
        <nav class="nav">
            <a href="https://github.com/{{site.repository}}"><i class="fa fa-github-square"></i></a>
            <a href="http://www.fb.com/{{site.twitter}}"><i class="fa fa-facebook-square"></i></a>
            <a href="https://twitter.com/{{site.twitter}}"><i class="fa fa-twitter-square"></i></a>
        </nav>
    </section>
</footer>

