<nav class="top-bar" data-topbar role="navigation">
    {% assign paths = site.pages | where: "categories", "section" | sort: "title" | map: "path" %}
    {% assign titles_size = site.pages | where: "categories", "section" | map: 'title' | join: '' | size %}

    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ site.url }}"><img src="{{ site.url }}/icons/logo-white.svg"></img></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
         <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
         -->
    </ul>
   
    {% if titles_size != 0 %}
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            {% for path in paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <li class="name">
                <h1>
                    <a href="{{ site.url }}{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </h1>
            </li>
            {% endif %}
            {% endfor %}
            
            <!-- Descomente isso caso queira adicionar um menu com dropdow (requer javascript)
            <li class="has-dropdown">
                <a href="#">Right Button Dropdown</a>
                <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                    <li class="active"><a href="#">Active link in dropdown</a></li>
                </ul>
            </li>
            -->
        </ul>

        <!-- Descomente isso caso queira adicionar uma seção à esquerda do meno de navegação
        <ul class="left">
            <li><a href="#">Left Nav Button</a></li>
        </ul>
        -->
    </section>
    {% endif %}
</nav>
