<nav class="navigation" role="navigation">
    {% assign pages = site.pages | where: "categories", "section" | sort: "title" %}

    <section class="container">
        <a class="navigation-title" href="{{ site.url }}">
            {% include logo-text.svg %}
        </a>

        <ul class="navigation-list float-right">
            {% for page in pages %}
            {% if page.title %}
            <li class="navigation-item">
                <a class="navigation-link"
                   href="{{ site.url }}{{ page.url | relative_url }}">
                    {{ page.title | escape }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
</nav>
