<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CAMat - {{page.title}}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Centro Acadêmico da Matemática, Estatística e Computação do Instituto de Matemática e Estatística da Universidade de São Paulo">
<meta name="copyright" content="GPLv2">
<link rel="stylesheet" href="{{ site.url }}/css/coderay.css">
<link rel="stylesheet" href="{{ site.url }}/css/milligram.css">
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<link rel="icon" type="image/svg" href="{{ site.url }}/images/icons/favicon.svg">

