{% if include.category %}
{% assign posts = site.posts | where: "categories", include.category %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% if include.limit %}
{% assign posts = posts | limit: include.limit %}
{% endif %}

<table role="feed">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 75%;">
    </colgroup>
    <tbody>
        {% for post in posts %}
        {% assign date = post.date | date: "%d/%m/%Y" %}
        <tr role="article">
            <td>
                <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
                <sub>{{ date }}</sub>
            </td>
            <td>{{ post.excerpt }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
