<!doctype html>
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
</head>

<body>
    <main class="wrapper">
        {% include header.html %}
        
        <section id="introducao" class="container">
            {{ content }}
        </section>
           
        </div>
        
        <section id="posts" class="container">
            <h2>Posts</h2>
            {% include posts.html limit=50 %}
        </section>
        
        {% include footer.html %}
    </main>
</body>
</html>
