<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <title>CAMat</title>
    {% include head.html %}
</head>

<body>
<main class="wrapper">

    {% include header.html %}
    
    <header id="home" class="header" role="content">
        <section class="container">
            {% include logo.svg %}
        </section>
    </header>
    
    <!-- Main Blog Content -->
    <section id="oque" class="container">
        {{ content }}
    </section>
       
    <section id="informes" class="container" role="content">
        <h2>Informes</h2>
        {% include posts.html category="informe" limit=10 %}
    </section>
        
    {% include agenda.html %}
        
    {% include contacts.html %}
    
    {% include footer.html %}
</main>
</body>
</html>
