<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMat</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Your name goes here">
    <meta name="copyright" content="Maybe consider a Creative Commons license">
    <link rel="stylesheet" href="{{page.root}}css/foundation.css">
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
    <link rel="stylesheet" href="{{page.root}}css/styles.css">
</head>
<body>

{% include header.html %}

<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
        <div id="logo" class="content unselectable">
            <img src="{{ site.url}}/icons/logo-black.svg"></img>
        </div>
        
        {{ content }}


        <!-- Informes -->

        {% assign informes = site.posts | where: "categories", "informe" | limit: 10 %}
        {% assign informes_size = informes | size %}
        {% if informes_size != 0 %}
        <div class="sect1">
            <h2 id="informes">Informes</h2>
            <ul>
                {% for post in informes %}
                {% assign date = post.date | date: "%d/%m/%Y" %}
                <li>{{ date }} - <a href=".{{ post.url }}">{{ post.navtitle }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Fim dos Informes -->


        <!-- Agenda -->
        {% include agenda.html %}

        <!-- Contato -->
        {% include contacts.html %}
    </div>

    <!-- End Main Content -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->
{% include footer.html %}

</body>
</html>
