<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMat</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Your name goes here">
    <meta name="copyright" content="Maybe consider a Creative Commons license">
    <link rel="stylesheet" href="{{page.root}}css/foundation.css">
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
    <link rel="stylesheet" href="{{page.root}}css/styles.css">
</head>
<body>

{% include header.html %}

<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
        {{ content }}

        <!-- Informes -->

        {% assign informes = site.posts | where: "categories", "informe" | limit: 10 %}
        {% assign informes_size = informes | size %}
        {% if informes_size != 0 %}
        <div class="sect1">
            <h2 id="informes">Informes</h2>
            <ul>
                {% for post in informes %}
                {% assign date = post.date | date: "%d/%m/%Y" %}
                <li>{{ date }} - <a href=".{{ post.url }}">{{ post.navtitle }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Fim dos Informes -->

        <!-- Contato -->

        <div class="sect1">
            <h2 id="contato">Contato</h2>
            <div class="sectionbody">
                <div class="dlist">
                    <dl>
                        <dt class="hdlist1">E-mail</dt>
                        <dd>
                            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                        </dd>
                        <dt class="hdlist1">Twitter</dt>
                        <dd>
                            <p><a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a></p>
                        </dd>
                        <dt class="hdlist1">Facebook</dt>
                        <dd>
                            <p><a href="https://www.fb.com/{{ site.facebook }}">{{ site.facebook }}</a></p>
                        </dd>
                        <dt class="hdlist1">Canal no Telegram</dt>
                        <dd>
                            <p><a href="https://t.me/{{ site.telegram }}">@{{ site.telegram }}</a></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- Fim dos Contatos -->
    </div>

    <!-- End Main Content -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->
{% include footer.html %}

</body>
</html>
