<!doctype html>
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% assign date = page.date | date: "%Y-%m-%d" %}
    {% include head.html %}
    <meta property="og:type" content="article"/>
    <meta property="article:published_time" content="{{ date }}">
    {% for category in page.categories %}
    <meta property="article:tag" content="{{ category }}"/>
    {% endfor %}
    {% if page.author %}
    <meta property="article:author" content="{{ page.author }}"/>
    {% endif %}
</head>
<body>
    <main class="wrapper">
        {% include header.html %}
        
        <section class="container">
            {% assign date = page.date | date: "%d/%m/%Y" %}
            <div class="title" role="heading" aria-level="1">
                <h1>{{ page.title }}</h1>
                <span class="article-info" role="list">
                    <sub role="listitem">{{ date }}</sub>
                    {% if page.categories %}
                        {% for category in page.categories %}
                        <span class="label" role="listitem">
                            {{ category }}
                        </span>
                        {% endfor %}
                    {% endif %}
                </span>
            </div>

            {{ content }}
        </section>
        
        {% include footer.html %}
    </main>
</body>
</html>
